html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  /* max-width сделано для того что бы изображение не  выходило за пределы контейнера в котором находится */
}

body {
  min-width: 1366px;
  /*min-width 1200 pxсделано для пользователей мобильных устройств  контент будет заскейлен вниз (уменьшен масштаб)*/
  /*min-width 320 т.к. min размер мобильных устройств  */
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

/*=========
   GLOBAL 
 ==========*/

:root {
  --gap: 50px;
  --color-white: #fff;
  --color-black: #000;
  --color-black-light: #181515;
  --color-red: #AD2D11;
  --color-yellow: #FACA47;
  --color-cream: #FDFAF4;


}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: 1200px;
  padding: 0 13px;
  margin: 0 auto;
  /* margin: 0 auto; для того что бы контейнер центрмровался по центру */
}

.section__title {
  margin: 0;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 43px;
  color: var(--color-red);
}

/*=========
   header 
 ==========*/


.header {
  background-image: url('../img/header__img.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 31px;
  padding-bottom: 337px;

}

.header__container {
  padding: 0 113px;
}

.header__nav {
  border-bottom: 1px solid var(--color-black);
  margin-bottom: 224px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  padding: 0 59px;
  margin-bottom: 23px;

}

.nav__item {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-black);
  transition: color .1s linear;
}

.nav__item:hover {
  color: var(--color-red);
}

.nav__item:active {
  color: var(--color-yellow);
}


.header__title {
  margin: 0;
  margin-bottom: 5px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: var(--color-red);
}

.header__descr {
  display: block;
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--color-black);
}

/*=========
   hero 
 ==========*/

.hero {
  padding: 200px 0;
  padding-bottom: 124px;
  background-color: var(--color-cream);
}

.hero__title {
  margin-bottom: 56px;
}

.swiper-slide {
  display: flex;

}

.swiper__img {
  margin-right: 124px;
}

.swiper__descr {
  margin: 0;
  width: 376px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}


.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: '';
}

.swiper-button-next::after,
.swiper-rtl .swiper-button-prev::after {
  content: "";
}

.swiper-button-next,
.swiper-button-prev {
  top: 338px;
  width: calc(120px / 44 * 27);
  height: 120px;
  margin-top: calc(0px - (120px/ 2));
}

.swiper-button-prev {
  left: 896px;
}

.swiper-button-next {
  right: 296px;
}

.swiper-button svg circle {
 transition: stroke .1s linear;
}

.swiper-button:hover svg circle {
  stroke: var(--color-yellow);
}


.swiper-button svg path {
  transition: stroke .1s linear;
}

.swiper-button:hover svg path {
  stroke: var(--color-yellow);
}

.swiper-button:active svg circle {
  stroke: var(--color-black);
}

.swiper-button:active svg path {
  stroke: var(--color-black);
}

/*=========
   about 
 ==========*/

.about {
  padding: 191px 0 220px 0;
}

.about__descr {
  margin: 0;
  max-width: 1114px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 54px;
  color: var(--color-black);
}

.about__container {
  position: relative;
}

.about__container::before {
  content: '';
  position: absolute;
  top: -141px;
  right: 90px;
  background-image: url('../img/about__img-1.png');
  background-repeat: no-repeat;
  width: 184px;
  height: 300px;
}

.about__container::after {
  content: '';
  opacity: 0.3;
  position: absolute;
  top: 36px;
  left: 90px;
  background-image: url('../img/about__img-2.png');
  background-repeat: no-repeat;
  width: 240px;
  height: 315px;
}

/*=========
   history
 ==========*/

.history {
  padding: 127px 0;
  padding-bottom: 196px;
  background-color: var(--color-cream);
}

.history__title {
  margin-bottom: 57px;
}

.history__table {
  margin: 0 auto;
  width: 83%;
  display: flex;
  flex-direction: column;

}

.table__row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.cell {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table__cell-right {
  width: 50.1%;
}

.cell__subtitle {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--color-black);
}

.cell__top {

  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-bottom: 1px solid var(--color-yellow);
  height: 50%;


}

.budget__item-1 {
  margin-right: 136px;
}


.cell__subtitle {
  margin: 0;
  width: 250px;
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 11px;
}

.cell__wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.cell__bottom {

  display: flex;
  justify-content: center;
  text-align: center;
  height: 50%;
}

.cell__descr {
  margin: 0;
  width: 250px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-black);
}

.cell__img {
  border-radius: 50%;
  border: 1px solid var(--color-yellow);
  padding: 13px;
}

.table__cell-left .cell__wrapper .cell__bottom {
  border-left: 1px solid var(--color-yellow);
}

.table__cell-left .cell__wrapper .cell__top {
  padding-left: 22px;
}

.table__cell-left .cell__wrapper .cell__bottom {
  padding-top: 13px;
}

.table__cell-left .cell__wrapper .cell__top {
  border-left: 1px solid var(--color-yellow);
}

.table__cell-left .cell__wrapper .cell-first {
  border: none;
}

.table__cell-left .cell__wrapper .cell-last {
  border: none;
}

.table__cell-right .cell__wrapper .cell__top {
  border-right: 1px solid var(--color-yellow);
}

.table__cell-right .cell__wrapper .cell__bottom {
  border-right: 1px solid var(--color-yellow);
  padding-top: 12px;
}

.table__cell-right .cell__wrapper .cell__top .cell__subtitle {
  margin-right: 22px;
}

.table__cell-right .cell__wrapper .cell__bottom .cell__descr {
  margin-right: 22px;
}


.history__table {
  counter-reset: section 0;
}
.cell-odd::after {

  content: counter(section);
  counter-increment: section;



  position: absolute;
  bottom: 69px;
  left: -20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--color-yellow);
  font-family: 'Prata';
  padding: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-white);


}


.cell-even::before {


content: counter(section);
counter-increment: section 1; 

  position: absolute;
  bottom: 92px;
  right: -20px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--color-yellow);
  font-family: 'Prata';
  padding: 14px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--color-white);
}


.table__row:nth-child(even) .table__cell-empty {
  height: 223px;
}


/*=========
   attractions
 ==========*/

.attractions {
  padding: 125px 0;
  padding-bottom: 76px;
}



.attractions__wrapper {
  padding-top: 156px;
  margin-bottom: 180px;
  display: flex;
  justify-content: flex-end;
}

.attractions__descr {
  margin: 0;
  display: block;
  width: 676px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
}

.box__title {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}


.box__descr {
  margin: 0;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  width: 476px;
  transform: translateY(-6px);
}

.box__row {
  display: flex;
  justify-content: space-between;
  padding: 75px 0 100px 0;

  border-bottom: 0.5px solid var(--color-yellow);
}

.box__row:last-child {
  border-bottom: none;
}

.box__row:first-child {
  border-top: 0.5px solid var(--color-yellow);
}

.box__wrapper {
  display: flex;
}

.box__img {
  margin-right: 24px;
}

/*=========
   budget
 ==========*/

.budget {
  padding: 126px 0;
  background-color: var(--color-cream);
}

.budget__descr {
  width: 676px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.budget__wrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 40px;
  margin-bottom: 217px;
}

.budget__list {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  padding: 0 81px;
}

.budget__item {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.budget__item-1 {
  margin-right: 136px;
}

.budget__item-2 {
  margin-right: 139px;
}

.budget__item-3 {
  margin-right: 205px;
}

.budget__img {
  width: 66px;
  height: 66px;
  margin-bottom: 28px;
}


.budget__subtitle {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: var(--color-black);
  margin-bottom: 18px;
}

.budget__price {
  font-family: 'Prata';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

/*=========
   cartography
 ==========*/

.cartography {
  padding: 138px 0;
  padding-bottom: 0;
  background-color: var(--color-cream);
}

.map {
  width: 100%;
  height: 475px;
}

.cartography__container {

  margin-bottom: 57px;
}

[class*="ground-pane"] {
  filter: hue-rotate(200deg);
}

/*=========
   footer
 ==========*/

.footer {
  padding-top: 48px;
  padding-bottom: 24px;
  background-color: var(--color-black-light);
}

.footer__date {
  margin-right: 56px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-cream);
}

.footer__descr {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-cream);
}

.footer__nav__link {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-cream);
  transition: color .1s linear;
}

.footer__nav__link:hover {
  color: var(--color-yellow);
}

.footer__nav__link:active {
  color: var(--color-red);
}

.footer-container {
  display: flex;
}

.footer__box {
  width: 50%;
  display: flex;
}

.footer__left {
  align-items: flex-end;
}

.footer__nav {
  padding-left: 12px;
}

.footer__nav__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 132px;
  column-gap: 106px;

}

.footer__nav__item {
  margin-bottom: 15px;
}

